<h1>VRA Editor</h1>

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#editor" aria-controls="editor" role="tab" data-toggle="tab">Editor</a></li>
    <li role="presentation"><a href="#image" aria-controls="image" role="tab" data-toggle="tab">Image</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    
    <!-- Editor tab -->
    <div role="tabpanel" class="tab-pane active" id="editor">
      <div class="row">
        <div class="col-lg-11">

          <div id="xml_editor">
            <vra:vra xmlns:vra="http://www.vraweb.org/vracore4.htm"></vra:vra>
          </div>
        </div>
      </div>

      <!-- Publish button and image thumbnail -->
      <div id="persistData">
        <div id="publishButton">
          <div id='publishUrl' class='btn btn-primary' data-url="<%= publish_new_record_path(@new_record) %>">Publish</div>
        </div>
        <%= image_tag @new_record.proxy( "thumb" ), class: "thumbnail thumb" %>
      </div>
    </div>
    
    <!-- Image tab -->
    <div role="tabpanel" class="tab-pane" id="image">
      <div class="row">
        <div class="col-lg-6">
          <%= image_tag @new_record.proxy( "medium" ), class: "img-responsive thumbnail medium" %>
        </div>
        <div class="col-lg-6">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var xmlUploadConfig = [
   {id: "defaultUrl", createDomElement: true, cssClass: 'send_xml', linkText: 'Save', url: "<%= save_xml_new_record_path(@new_record) %>"},
   {id: "publishUrl", createDomElement: false, url: '<%= publish_new_record_path(@new_record) %>'}]


  $(function() {

    function publishSuccess(response){
      if ($("#errors").is(":visible")){
        $("#errors").hide();
      }

      if ($(".xml_submit_status").hasClass("alert alert-danger")){
        $(".xml_submit_status").removeClass("alert alert-danger");
      }
      if (response.localName){
        document.location.href = response.localName;
      }
    }

    function publishError(jqXHR){
      $(".xml_submit_status").addClass("alert alert-danger");
      $(".xml_submit_status").html("Errors! This record was not published. Details above.");
      var msg = jqXHR.getResponseHeader('X-Message');
      if ($(".container").children("#errors").length == 0){
        $(".container").prepend("<div id='errors' class='alert alert-danger'></div>"); 
        $('#errors').html("<p>" + msg + "</p>");
      } else {       
        $('#errors').html("<p>" + msg + "</p>"); 
      }    
    }    

    var extractor = new Xsd2Json("vra-strict.xsd", {"schemaURI":"<%= root_path %>"});

    $("#xml_editor").xmlEditor({
      ajaxOptions: {
        xmlRetrievalPath: "<%= url_for(:only_path => false, :controller => 'new_records', :action => 'show', :id => @new_record.id, :format => :xml) %>"
      },
      submitButtonConfigs: [
          {
          id: "publishUrl",
          createDomElement: false,
          //onSubmit: submitThis,
          url: '<%= publish_new_record_path(@new_record) %>',
          responseHandler: publishSuccess,
          errorHandler: publishError
        },
          {
          id: "defaultUrl", 
          createDomElement: true, 
          cssClass: 'send_xml', 
          label: 'Save', 
          url: "<%= save_xml_new_record_path(@new_record) %>",
          //submitHandler: submitThis,
          responseHandler: publishSuccess,
          errorHandler: publishError
          }
      ],
      schema: extractor.getSchema(),
      documentStatusPanelDomId: "#persistData"
    });

  });
</script>