<h1>VRA Editor</h1>

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#editor" aria-controls="editor" role="tab" data-toggle="tab">Editor</a></li>
    <li role="presentation"><a href="#image" aria-controls="image" role="tab" data-toggle="tab">Image</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <!-- Editor tab -->
    <div role="tabpanel" class="tab-pane active" id="editor">
      <div class="row">
        <div class="col-lg-11">
        <textarea id="xml_editor"><%= @existing_record.xml %></textarea>
        </div>
      </div>


      <!-- Publish button and image thumbnail -->
      <div id="persistData">
        <div id="publishButton">
          <div id='publishUrl' class='btn btn-primary' data-url="<%= existing_records_update_path(:pid => @existing_record.pid) %>">Publish</div>
        </div>
        <%= image_tag(get_repo_image(@existing_record.pid, 120), class: 'thumbnail thumb') %>
      </div>
    </div>

    <!-- Image tab -->
    <div role="tabpanel" class="tab-pane" id="image">
      <div class="row">
        <div class="col-lg-12">
          <%= image_tag(get_repo_image(@existing_record.pid, 900), class: 'thumbnail thumb') %>
        </div>
      </div>
    </div>

  </div>

</div>

<script>
  var xmlUploadConfig = [
   {id: "defaultUrl", createDomElement: true, cssClass: 'send_xml', linkText: 'Save', url: "<%= existing_records_save_xml_path(@existing_record.pid) %>"}]

  $(function() {

    function publishSuccess(response){
      if ($("#errors").is(":visible")){
        $("#errors").hide();
      }

      if ($(".xml_submit_status").hasClass("alert alert-danger")){
        $(".xml_submit_status").removeClass("alert alert-danger");
      }
      if (response.localName){
        document.location.href = response.localName;
      }
    }

    function publishError(jqXHR){
      $(".xml_submit_status").addClass("alert alert-danger");
      $(".xml_submit_status").html("Errors! This record was not published. Details above.");
      var msg = jqXHR.getResponseHeader('X-Message');
      if ($(".container").children("#errors").length == 0){
        $(".container").prepend("<div id='errors' class='alert alert-danger'></div>");
        $('#errors').html("<p>" + msg + "</p>");
      } else {
        $('#errors').html("<p>" + msg + "</p>");
      }
    }

    var extractor = new Xsd2Json("vra-both.xsd", {"schemaURI":"<%= root_path %>"});

    $("#xml_editor").xmlEditor({
      schema: extractor.getSchema(),
      documentStatusPanelDomId: "#persistData",
      submitButtonConfigs: [{
          id: "publishUrl",
          createDomElement: false,
          //onSubmit: submitThis,
          url: '<%= existing_records_update_path(:pid => @existing_record.pid) %>',
          responseHandler: publishSuccess,
          errorHandler: publishError
        },
        {
          id: "defaultUrl",
          createDomElement: true,
          cssClass: 'send_xml',
          label: 'Save',
          url: "<%= existing_records_save_xml_path(:pid => @existing_record.pid) %>",
          responseHandler: publishSuccess,
          errorHandler: publishError
        }
      ]
    });

  });
</script>