<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :filename %><br>
    <%= f.text_field :filename %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>

  <ul>
    <li><a href="">filename01</a></li>
    <li><a href="">filename02</a></li>
    <li><a href="">filename03</a></li>
    <li><a href="">filename04</a></li>
    <li><a href="">filename05</a></li>
    <li><a href="">filename06</a></li>
    <li><a href="">filename07</a></li>
    <li><a href="">filename08</a></li>
    <li><a href="">filename09</a></li>
    <li><a href="">filename10</a></li>
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
