<h1>Editing image</h1>
<div class="row">
  <div class="col-xs-6">
    <% image_style = :medium %>
    <%= image_tag @image.proxy( image_style ), class: "thumbnail #{image_style}" %>
  </div>
  <div class="col-xs-6">
    <%= render 'form' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>VRA Editor</h1>

    <div id="xml_editor">
      <vra:vra xmlns:vra="http://www.vraweb.org/vracore4.htm"></vra:vra>
    </div>
  </div>
</div>

<div class="row" id="persistData">
  <div id="publishButton" class="col-md-12">
    <div id='publishUrl' class='btn btn-primary' data-url="<%= publish_image_path(@image) %>">Publish</div>
  </div>
</div>

<script>
  $(function() {
    var extractor = new Xsd2Json("vra.xsd", {"schemaURI":"<%= root_path %>"});

    $("#xml_editor").xmlEditor({
      ajaxOptions: {
        xmlRetrievalPath: "<%= url_for(:only_path => false, :controller => 'images', :action => 'show', :id => @image.id, :format => :xml) %>",
        xmlUploadConfig: [
         {id: "defaultUrl", createDomElement: true, cssClass: 'send_xml', linkText: 'Save', url: "<%= url_for(:only_path => false, :controller => 'images', :action => 'update', :id => @image.id, :format => :xml) %>"},
         {id: "publishUrl", createDomElement: false, url: '<%= publish_image_path(@image) %>'}
        ]
      },
      schema: extractor.getSchema(),
      documentStatusPanelDomId: "#persistData"
    });

  });
</script>