<h1>Editing image</h1>

<%= render 'form' %>

<%= link_to 'Show', @image %> |
<%= link_to 'Back', images_path %>

<div class="wrapper">

  <header>
    <h1>VRA Editor</h1>
  </header>


  <div id="xml_editor">
    <vra:vra xmlns:vra="http://www.vraweb.org/vracore4.htm"></vra:vra>
  </div>

</div>

<script>
  $(function() {
    var extractor = new Xsd2Json("vra.xsd", {"schemaURI":"<%= root_path %>"});

    $("#xml_editor").xmlEditor({
      ajaxOptions: {
        xmlRetrievalPath: "<%= url_for(:only_path => false, :controller => 'images', :action => 'show', :id => @image.id, :format => :xml) %>"
      },
      schema: extractor.getSchema()
    });
  });
</script>