<h1>Listing images</h1>

<table class="table">
  <thead class="header">
    <tr>
      <th>Filename</th>
      <th>Location</th>
      <th colspan=3></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.filename %></td>
        <td><%= image.location %></td>
        <td><%= link_to 'Show', image, class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_image_path(image), class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path, class: "btn btn-default" %>
