<!DOCTYPE html>
<html>
<head>
  <title>Menu</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "menu -- Metadata Editor at Northwestern University Library", root_path, :class => "navbar-brand" %>
      </div>
      <h4 class="navbar-text pull-right"><%= link_to "Cataloging Guidelines", "https://docs.google.com/document/d/1tk7cbK2oh1Sxu7TSKiBiSZH073ivF3KRxzSCgODAfek/edit", :target => "_blank", :class => "" %></h4>
    </div>
  </nav>

  <div class="container">
      <% flash.each do |key, value| %>
      <div id='errors' class="alert alert-<%= key %>" role="alert">
        <ul>
        <% if value.respond_to?('each') %>
          <% value.each do |m| %>
            <li><%= m %></li>
          <% end %>
        <% else %>
          <li><%= value %></li>
        <% end %>
      </ul>
      </div>
  <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
    <%= "Server restarted at: " + Menu::Application.config.build_identifier if Rails.env.development? || Rails.env.staging? %>
  </div>
</body>
</html>
