<!DOCTYPE html>
<html>
<head>
  <title>Menu</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="jumbotron">
    <h1><%= link_to "menu", root_path %></h1>
    <p>Metadata Editor at Northwestern University Library</p>
  </div>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert">
        <ul>
        <% if value.respond_to?('each') %>
          <% value.each do |m| %>
            <li><%= m %></li>
          <% end %>
        <% else %>
          <li><%= value %></li>
        <% end %>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
      <%= "Server restarted at: " + Menu::Application.config.build_identifier if Rails.env.development? || Rails.env.staging? %>
    </div>
</body>
</html>
