<!DOCTYPE html>
<html>
<head>
  <title>Menu</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="jumbotron">
    <h1><%= link_to "menu", root_path %></h1>
    <p>Metadata Editor at Northwestern University Library</p>
  </div>

  <div class="container">
      <% flash.each do |key, value| %>
      <div id='errors' class="alert alert-<%= key %>" role="alert">
        <ul>
        <% if value.respond_to?('each') %>
          <% value.each do |m| %>
            <li><%= m %></li>
          <% end %>
        <% else %>
          <li><%= value %></li>
        <% end %>
      </ul>
      </div>
  <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
    <%= "Server restarted at: " + Menu::Application.config.build_identifier if Rails.env.development? || Rails.env.staging? %>
  </div>
</body>
</html>
